!!!
<!- yield signals where the view will be at ->
%html
%head
  %title Mobile-Friendly Forum
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
%body
  %header.main_header
    #logo
      %p Mobile-Friendly Forum
    #buttons
      - if user_signed_in?
        = link_to "New Post", new_post_path
      - else
        = link_to "Sign Up",  new_user_registration_path
        = link_to "Sign In",  new_user_session_path
  .container
    %p.notice= notice
    %p.alert= alert

  .container
    = yield
